include README.md

recursive-include src/redlotus/prompts *.md
prune src/redlotus/prompts/LongTermMemory

graft src/redlotus/tools/skills

include src/redlotus/api/config.yaml.example

exclude src/redlotus/config.json
global-exclude *.py[cod]
global-exclude __pycache__
global-exclude *.log
global-exclude *.log.*
exclude src/redlotus/api/config.yaml
recursive-exclude src/redlotus/tools/skills .env
recursive-exclude src/redlotus/tools/skills __pycache__
recursive-exclude src/redlotus/tools/skills *.py[cod]
